<h1>Listing users</h1>

<h3>
Войти можно через все аккаунты, кроме первых трёх. Пароль: 123456
<br>
<a href=/auth_in>Форма входа</a>
</h3>

<%= will_paginate %>
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %> | </td>
    <td><%= user.email %></td>
    <td><%= link_to 'Show', user %> | </td>
    <td><a href=/users/<%= user.id %>/list>Posts list</a></td>
  <% if user_signed_in? %>
    <% if current_user.id == user.id %>
      <td>&nbsp;| <%= link_to 'Edit', edit_user_path(user) %></td>
      <td>&nbsp;| <%= link_to 'Destroy', user,
      method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  <% end %>
  </tr>
<% end %>
</table>
<%= will_paginate %>
<br />

<% unless user_signed_in? %>
  <%= link_to 'New User', new_user_path %>
<% end %>
