<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @user.name %>
</p>

<p>
  <b>Create:</b>
  <%= @post.created_at %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Text:</b>
  <%= @post.text %>
</p>

<p>
  <b><%= link_to 'Tags', tags_path %></b>
  <%= @post.tags.map { |t| t.text }.join(", ") %>
</p>

<hr>

<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <%= link_to 'Edit', edit_post_path(@post) %> | 
  <% end %>
<% end %>

<%= link_to 'Back', posts_path %>
<hr>
<%= render "comments/comment" %>
